body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue';
    font-weight: 350;
}

body { 
    padding-top: 50px;
}

h3 {
    font-size: 20px;
   /* text-decoration: underline ;
    color: #2965AA;*/
}

h4 {
    font-size: 20px;
}
.navbar {
    background-color: #2965AA;
    margin-bottom: 0px;

}

.navbar-header {
    width: 100%;
}

#title {
    font-size: 24px;
    color: white;
}

.date_update span {
    font-size: 18px;
    color: #E7AD80;
}

#map {
    width:100%;
    height: 600px;
    margin-bottom: 10px;
}

.hdx-3w-info{
    background-color: white;
    font-size: 1.5em;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

.keyfigure {
    font-size: 24px;
    color: #2965AA;
}

.keyfigureTitle {
    font-size: 16px;
    font-weight: 100px;
    /*color: #2965AA;*/
}
.description p{
    font-size: 14px;
    text-align: justify;
}

.charts {
/*    padding-left: 0px;*/
    width: 100%;
    margin-left: auto;
}

.dc-chart g.row text {
    fill: #4d4d4d;
    font-size: 1.0em;
}

.dc-table-label{
    color:#fff;
}

#data-table td, th{
    font-size: 19px;
}
#data-table th{
    font-size: 21px;
}
a {
    color: #2965AA;
}
.col-xs-3 {
    padding-left: 0px;
}

.red{
    height: 20px;
    width: 20px;
    background-color: #2965AA;
    border-radius: 50%;
    display: inline-block;
}
.blue{
    height: 20px;
    width: 20px;
    background-color: #6FA3EA;
    border-radius: 50%;
    display: inline-block;
}
.disclaimer {
    padding-top: 5px;
    text-decoration: underline;
}
#clusterCharts h4{
    text-decoration: none;
    font-size: 20x;
/*    color:#2965AA;*/
}

#clusterCharts col-md-4{
    border-right: 1px solid;
}


#ocha_logo {
    margin-bottom: 10px;
}

.dataLink {
    font-size: 14px;
    color: #0077CE;
}

.powered {
    font-size: 12px;
}
.panel-default {
    margin-top: 15px;
    background-color: #f4f4f4;
}
.hdx{
    width: 50px;
    display: inline;
}
.main {
    display: none;
}
.loader {
    animation: spin 2s linear infinite;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}